# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages for data science
- Commonly used Libraries by Data Scientist
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Scikit-learn
4. Seaborn

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.

200 / 60

3.3333333333333335

## Author

Author : Novera Maaz